* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
.top-bar {
    display: flex;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    top: 10px;
}
.home {
    word-spacing: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.home a {
    text-decoration: none;
    color: red;
}
.vision {
    margin: 5rem 5rem;
    font-size: 1.4rem;
    padding: 10rem 4rem;
    margin-top: 3rem;
}
h1 {
    margin: 3rem 0;
    font-size: 2rem;
    color: green;
    text-align: center;
}
.space {
    padding-bottom: 1rem;
}
.contact-section {
    display: flex;
    background-color: rgb(12, 11, 11);
    padding: 0 9rem;
}
h3 {
    margin: 2rem 0;
    color: white;
}
li {
    margin-bottom: 1rem;
}
a {
    color: green;
}
.home a {
    text-decoration: none;
    color: red;
}
.suscribe p {
    color: white;
    margin: 2rem;
}
.suscribe {
    padding-left: 19rem;
}
input.btn {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 2px 2px rgb(209, 179, 179);
}
.suscribe a button {
    background-color: green;
    padding: 1rem 6rem;
    color: white;
}
a:hover {
    color: rgb(128, 119, 0);
}
.suscribe a button:hover {
    background-color: blue;
    color:  rgb(27, 2, 2);
}
.act {
    margin: 3rem;
    font-size: 1.4rem;
}
.shift {
    display: flex;
    padding-left: 30rem;
    margin-bottom: 17rem;
    margin-left: -10rem;
}
p {
    text-align: center;
}
h2 {
    margin: 2rem;
}
.table {
    border: 1px solid white;
    background-color: rgb(199, 194, 194);
    margin: 2rem;
}
table {
    font-size: 1.2rem;
}
.center {
    font-size: 1.2rem;
    margin-top: 2rem;
}
.line {
    padding-right: 50rem;
    margin-bottom: 0.5rem;
}
hr {
    color: red;
}