* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
.top-bar {
    display: flex;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    top: 10px;
}
.home {
    word-spacing: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.home a {
    text-decoration: none;
    color: red;
}
h2 {
    padding: 2rem 3rem;
}
.bar {
    margin: 3rem;
}
h1 {
    padding: 2rem 2rem;
}
form {
    padding: 3rem 15rem;
}
.line {
    padding: 1rem 1rem;
}
input.btn, textarea {
    padding: 1rem 10rem;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px rgb(209, 179, 179);
}
.contact-section {
    display: flex;
    background-color: black;
    padding: 0 9rem;
}
.suscribe {
    padding-left: 19rem;
}
input.btn {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 2px 2px rgb(209, 179, 179);
}
.suscribe a button {
    background-color: green;
    padding: 1rem 6rem;
    color: white;
}
.suscribe a button:hover {
background-color: blue;
color: rgb(27, 2, 2);
}
.suscribe p {
    color: white;
}
h3 {
    color: white;
}
a:hover {
    color: rgb(202, 221, 30);
}
h3 {
    padding: 2rem 2rem;
}
li {
    padding-bottom: 1rem;
}
a {
    color: green;
}
.suscribe p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
form.ment {
    padding: 0;
}
a button {
    padding: 1rem 5rem;
    background-color: rgb(46, 221, 46);
}
a button:hover {
    background-color: blue;
    color: rgb(78, 7, 7);
}
select {
    padding: 1rem 1re,;
}